
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* section{
    height: 600px;
} */

.jumbotron{
    /* background-image: url('/public/images/v1044-19a.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.template{
    background-image: url('/frontend/images/bg.jpg');
    background-size: 300px;
    min-height: 520px;
}
.card-template .card-parent-header , .card-template .card-parent-footer{
    background-color: #ffbc65;
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 18;
}

.btn-pilih{
    font-family: 'Fredoka One', cursive;
    color: white;
    background-color: #ff820e;
}

.btn-pilih:hover{
    background-color: #ff820e;
    color: whitesmoke;
}

.jumbotron .col-kiri{
    margin-top: 200px;
}

.jumbotron h1{
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 149, 10);
    font-size: 40px;
}

.jumbotron p{
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 149, 10);
}

.in{
    background-color: #f9d423;
    padding: 6px;
    border-radius: 20px;
}

.testimonial{
    background-color: #ffffff;
    min-height: 400px;
}

.heading-testimonial, .heading-tips{
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 149, 10);
}

.card-testimonial{
    box-shadow: 1px 1px 3px rgb(255, 149, 10);
    min-height: 170px;
}

.card-testimonial .card-title{
    font-family: 'Fredoka One', cursive;
    color: salmon;
}

.card-testimonial .card-text{
    color: rgb(145, 135, 135);
    text-align: justify;
}

.navbar{
    border-radius: 0% 0% 12% 12%;
    background: linear-gradient(to right, #ff4e50, #f9d423) !important;
    height: 100%;
    padding: 15px;
    font-family: 'Fredoka One', cursive;
}

.nav-link ,.navbar-brand{
    color: white !important;
}

.cv{
    height: 500px;
    width: 500px;
}

.button-cv{
    width: 200px;
    margin-top: 3px;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Fredoka One', cursive;
    background-color: #2f7c1c;
    color: white;
    border: none;
}

.templates p {
	color: grey;
    word-wrap: break-word
}

.form-cv{
    width: 95%;
    margin: auto;

}

#heading {
	text-transform: uppercase;
	color: #673AB7;
	font-weight: normal;
}

#msform {
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

.form-card {
	text-align: left;
}


.templates{
    margin-top: 50px;
    word-wrap: break-word;
   
    position: sticky;
    top: 0;
    font-size: 14px;
}

.pengalaman, .deskripsi{
    text-align: justify;
}

.card-data{
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-family: 'Mitr', sans-serif;
}

.card-data .card-header{
    background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}

.btn-download{
    background-color: #4ee428;
    font-family: 'Mitr', sans-serif;
    width: 50%;
    color: white;
    margin: 0 auto;
}

.btn-download:hover{
    background-color: #2bb908;
    color: white;
}

.btn-download:active{
    background-color: #2bb908;
    color: white;
}

footer{
    min-height: 200px;
    background-color: rgb(8, 7, 7);
}

footer p{
    color: #5c5b5b;
}

.heading-footer{
    font-family: 'Fredoka One', cursive;
    color: #cec9c9;
}

html{
    scroll-behavior: smooth;
    }