
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* section{
    height: 600px;
} */

.jumbotron{
    /* background-image: url('/public/images/v1044-19a.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.template{
    background-image: url('/frontend/images/bg.jpg');
    background-size: 300px;
}
.card-template .card-parent-header , .card-template .card-parent-footer{
    background-color: #ffbc65;
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 18;
}

.btn-pilih{
    font-family: 'Fredoka One', cursive;
    color: white;
    background-color: #ff820e;
}

.btn-pilih:hover{
    background-color: #ff820e;
    color: whitesmoke;
}

.jumbotron .col-kiri{
    margin-top: 200px;
}

.jumbotron h1{
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 149, 10);
    font-size: 40px;
}

.jumbotron p{
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 149, 10);
}

.in{
    background-color: #f9d423;
    padding: 6px;
    border-radius: 20px;
}

.testimonial{
    background-color: #fff5c9;
background-image: linear-gradient(180deg, #fff5c9 0%, #ffffff 100%);

}

.navbar{
    border-radius: 0% 0% 12% 12%;
    background: linear-gradient(to right, #ff4e50, #f9d423) !important;
    height: 100%;
    padding: 15px;
    font-family: 'Fredoka One', cursive;
}

.nav-link ,.navbar-brand{
    color: white !important;
}

.cv{
    height: 500px;
    width: 500px;
}

.button-cv{
    width: 200px;
    margin-top: 3px;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Fredoka One', cursive;
    background-color: #2f7c1c;
    color: white;
    border: none;
}

.templates p {
	color: grey;
    word-wrap: break-word
}


#heading {
	text-transform: uppercase;
	color: #673AB7;
	font-weight: normal;
}

#msform {
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

.form-card {
	text-align: left;
}


.templates{
    transform: scale(0.5);
    margin-top: -160px;
    word-wrap: break-word;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

p {
	color: grey;
}

#heading {
	text-transform: uppercase;
	color: #673AB7;
	font-weight: normal;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

.form-card {
	text-align: left;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input, #msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0;
}

/*Next Buttons*/
#msform .action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#msform .action-button:hover, #msform .action-button:focus {
    background-color: #311B92;
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    background-color: #000000;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
	color: #673AB7;
    font-weight: normal;
}

/*Step Count*/
.steps {
	font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

/*Field names*/
.fieldlabels {
	color: gray;
	text-align: left;
}

/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #673AB7;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*Icon ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #673AB7;
}

/*Animated Progress Bar*/
.progress {
	height: 20px;
}

.progress-bar {
	background-color: #673AB7;
}

/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}